  .rTable     
  {
    display: block;    
    width: 100%; 
  } 
  .rTableHeading, .rTableBody, .rTableFoot, .rTableRow
  {
    clear: both;
    border-width: 1px;
    border-color: #35496A;
  } 
    
  .rTableHead, .rTableFoot
  {
    background-color: #DDD;
    font-weight: bold; 
  } 
  .rTableCell, .rTableHead 
  {
    /*border: 1px solid #2A3A57;    */
    float: left;    
    height: 18px;    
    overflow: hidden;    
    padding: 3px 1.8%;    
    width: 10%; 
  } 

  .rTableCellLeft
{
    border-left: 0.5px solid #2A3A57;
    border-right: 1px solid #2A3A57;
    border-top: 1px solid #2A3A57;
    border-bottom: 1px solid #2A3A57;
    float: left;
    height: 3%;
    overflow: hidden;
    padding: 1.5px 1.8% 3.2px 1%;
    width: 20%;
    vertical-align: middle;
    border-color: #F0F0F0;
} 
  
  .rTableCellHead
{
    margin: 0px;
    border-left: 0.5px solid #2A3A57;
    border-right: 0.3px solid #2A3A57;
    border-top: 1px solid #2A3A57;
    border-bottom: 1px solid #2A3A57;
    background-color: #CFD8FA;
    float: left;
    height: 3%;
    overflow: hidden;
    padding: 4px 1.8% 1px 1.8%;
    width: 18%;
    border-color: #405579;
    font-size: 10px;
    font-family: 'MS Sans Serif';
    border-width: 1px 0.3px 0.5px 0.3px;
} 

  .rTableCellError
  {
    border: 0px ; /*solid #999999; */ 
    float: left;    
    height: 18px;    
    overflow: hidden;    
    padding: 3px 1.8%;    
    width: 35%; 
    text-align: left;   
  } 
  
  .rTable:after 
  {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; 
  } 

 /* Controles */

  .DropDownList
{
    border: 1px solid #2A3B57;
    font-family: Tahoma;
    font-size: 11px;
    height:20px;
    vertical-align: middle;
    border: 1px solid #35496A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3.2px;
}
  
  .TextBox
{
    border: 1px solid #AAAAAA;
    font-family: Tahoma;
    font-size: 11px;
    vertical-align: middle;
    height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3.2px;
    text-transform:uppercase;
}        

  .ButtonsSendSave
  {
      border: 1px solid #35496A;
      font-family: Tahoma;
      font-size: 9pt;

      text-align:center;
      background-color:#DEE1E7;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3.2px;
      position: static;
    margin-left: 0px;
}        

  .lblMessage
  {
      font-family: Tahoma;
      font-size: 10pt;
      color: Red;     
      vertical-align: middle;
      text-align:center;
      background-color:#DEE1E7;
      height:35px;
      width:100px;
  }             

/* Text Format*/
  .errorMsg
  {
    color: Black;
    font-weight: bold;
    font-size: 12px;
    font-family:Times New Roman;
  }
  .style2
  {
    color: Black;
    font-family: sans-serif;
    font-size: 11px;
    font-style: normal;
    text-align: Left;
    height: 10px;
  }
  
  .lblTitulos
{
    color: Black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: oblique;
    text-align: Left;
    height: 10px;
    text-transform:capitalize;
}  

  .printIFrame
  {
     border-width: 1px; 
     border-color: #2A3B57; 
     vertical-align: middle; 
     background-color: #CDCDCD;
     overflow: scroll;
  }

  .address
{
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
    border-top-color: #F0F0F0;
    height:1%;
}
input[type="submit"]:hover
{
    border: 1px solid #6666FF;
    color: #FFFFFF;
    background-color: #BAD2DA;
}

input[type=text]:focus, textarea:focus, select:focus
{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 2px 0px 2px 2px;
    margin: 1px 1px 1px 0px;
    border: 0.5px solid rgba(81, 203, 238, 1);
    text-transform:uppercase;
    resize: none;
 /*   background-color: #EBEBE4;*/
}


body
{
    background-position: center center;
    /* background-image: url('../images/logophoenix_s.jpg'); */
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#divContenido {
position:fixed !important;
position:absolute;
top:5;
right:3;
bottom:0;
left:3;
}

.lnkButton
{
    border: 1px solid #6666FF;
    font: bold 14px Calibri;
    background-color: #E2E8EF;
    color: #333333;
    width: 140px;
    height: 20px;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.lnkText
{
    font: normal 13px 'Century Gothic';
    color: #333333;
    width: 140px;
    height: 20px;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-style: none;
    border-width: 0px;
    border-color: #6666FF;
    text-align: left;
}

#rTable
{
    resize: none;
    overflow:inherit;
    }

.HeaderGrid
{
    border: 1px solid #000000;
    background-color: #E1E1E1;
    color: #333333;
    font-family: verdana;
    font-size: 11px;
    font-style: normal;
    text-align: center;
    font-weight: lighter;
    height: 10px;
    font-weight: normal;
    vertical-align: middle;
}       

select > option:hover
{
    background-color: #3333CC;
    color: #FFFFFF;
}


.SMParent, .SMParentOver, .SMParentSelected {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
    font:bold 10px verdana;
    text-align:left;
    height:15px;
    cursor:pointer;
}

.SMChild {
    font:10px verdana;
    padding: 2px;
    padding-left:4px;
    border: 1px solid #F3F3F3;
    overflow-x: hide;
    overflow-y: hide;
    line-height: 1px;
}

.SMChildOver {
    font:10px verdana;
    cursor:pointer;
    padding: 2px;
    padding-left:4px;
    background-color: White;
    border: 1px solid #808080;
}

.SMChildSelected {
    font:10px verdana;
    padding: 2px;
    padding-left:4px;
    background-color: #CCCCCC;
    border: 1px solid #808080;
}

.SMChild a, .SMChildOver a, .SMChildSelected a {
	font:10px verdana;
	color:black;
	text-decoration:none;
}

.SMChildrenBox {
    
	text-align:left;
}

.SMMenu {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
    width:160px;
    height:450px;
    padding:10px;
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
}

.SMImageParent {
	border:0px solid black;
	margin-right:4px;
	vertical-align:middle;
}

.SMImageChild {
	border:0px solid black;
	vertical-align:middle;
}