<configuration>
  <connectionStrings>
    <add name="cnxServiceWEB" connectionString="Data Source=USABAANTEST;Persist Security Info=True;User ID=webuser;Password=s3st2m1s;" providerName="System.Data.OracleClient" />
    <add name="cnxWEBInterfaz" connectionString="Data Source=USABAANTEST;Persist Security Info=True;User ID=webuser;Password=s3st2m1s;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <configuration>
    <appSettings>
      <add key="owner" value="BAAN" />
      <add key="env" value="140" />
      <add key="envt" value="i" />
      <add key="cia" value="PPO" />
    </appSettings>
  </configuration>
</configuration>